#It is good practice to also include our .env file in our .gitignore, as it contains sensitive information such as API keys and database credentials that should not be shared publicly.
#However, since this is a simple tutorial with generic credentials, we will not include the .env file in our .gitignore for this project.
vev
readme-assets